<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nxrmc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>nxrmc_hd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A2EB1801AEF2AD000D7AB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2EB1991AEF2AD000D7AB89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E5C9BDB1B5E47AC000A3124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E5C9BF91B5E47AC000A3124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
